In [1]:
#Libaries to Import
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')

import pandas as pd
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.ar_model import AR
from statsmodels.tsa.arima_model import ARMA, ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from math import sqrt

import matplotlib
import seaborn as sns

In [5]:
#Data 
df = pd.read_csv("data/revenue.csv", delimiter=";", decimal=",")
df.columns = ['year','revenue']
df.head(3)

      year  revenue
0  2015-01     3136
1  2015-02     2398
2  2015-03     2363